# ========================================

# DESARROLLO LOCAL - USANDO SERVICIOS REALES

# ========================================

 

# Database - RDS Producción

# Database - PostgreSQL RDS (PRODUCCIÓN)

DATABASE_URL=postgresql://postgres:e6UFYtdUmSJL93PyFNdl@database-befit.cf4gmmewwimz.us-east-2.rds.amazonaws.com/befit

# DATABASE_URL=sqlite:///./befit_local.db  # Local alternativo

 

# AWS - Credenciales reales

AWS_REGION=us-east-1

AWS_ACCESS_KEY_ID=AKIA547XKAQYZOHKO6AT

AWS_SECRET_ACCESS_KEY=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

 

# S3 - Bucket real

S3_BUCKET_NAME=test-s3-metodos

 

# Cognito - Real

COGNITO_USER_POOL_ID=us-east-1_1ugKX5pDK

COGNITO_CLIENT_ID=2p7dqbgfdm35u054lp5dld9d9m

COGNITO_REGION=us-east-1

 

# JWT

JWT_SECRET_KEY=QXc9pW3nnjB3SxT-lgz8ne-K_G_xn4sJqNBKN_rRS8kvwucHHKqbeclbjhXHmyLxg-AJaq7eQHGUqcxiopBSvA

JWT_ALGORITHM="HS256"

JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

 

# PayPal - SANDBOX

PAYPAL_CLIENT_ID=AZNSpqBpS5opgUo2J1MpYvVOD43wfPR138QcwarvLfWs4G0U5Q4Y9PT8bjdvnSLHQgLSBR9oqJMgGMmf

PAYPAL_CLIENT_SECRET=EBVJsij7K-bfHILyyjK_iozPW2mB0YpQyETNae_LW97ffUjhf3xrHLYJuxd2U5olU1FbYayNT3y8kgIJ

PAYPAL_API_BASE_URL=https://api.sandbox.paypal.com

 

# Stripe - TEST MODE

STRIPE_API_KEY=pk_test_51RIP5qB0vBm8XsikGndnz0UL593qTgV97ZZvIuA4FZkjtLRRreTZUdkr28DOBsqSaGp5lWbQf8S4tSDE84e1ohU900Db7HA6F5

STRIPE_SECRET_KEY=sk_test_51RIP5qB0vBm8XsikMDXzzKJbv8b4JdwAJJExrcvlkknDVY8uuR9WILnkcvrOJEvOG22hFU8jGs69VPP1EiMaA5Zj00T9hi37My

STRIPE_WEBHOOK_SECRET=whsec_832593405b7aaafa45d828323594fcd5171b5878a244f4b97908374726ef34a9

 

# CORS - Localhost + Producción

BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:8000","https://frontend.d34s9corpodswj.amplifyapp.com","https://befitapi.store"]

APP_URL=https://frontend.d34s9corpodswj.amplifyapp.com

 

# Desarrollo

DEBUG=false

DEV_MODE=false
